@charset "utf-8";
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    font: 1.2em Helvetica, arial, sans-serif;
    background-color: white;
}
.wrapper>*{
    border: 0px solid black;
    background-color: white;;
    border-radius: 5px;
    padding: 10px;
}

.main-head {
    grid-area: header;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    color: white;
    text-align: center;
    background-image: url("marblebackground.jpg");
}
.content{
    grid-area:content;
}
.main-nav{
    display: block;
    grid-area: nav;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
    background-image: url("marblebackground.jpg");
}
.side {
    grid-area:sidebar;
}
.ad{
    grid-area:sidebar;
}
.main-footer{
    grid-area: footer;
    background-image: url("marblebackground.jpg");
    color: white;
}


h1 {
    text-align: center;
}
/* nav bar styling */
.main-nav {
    background-color:white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .main-nav a {
    color:white;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .main-nav a:hover {
    background-color:grey;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .main-nav a.active {
    background-color: #4CAF50;
    color:black;
  }


/* mobile first */

.wrapper {
    display:grid;
    grid-gap:20px;
    grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}

@media (min-width:500px){
    .wrapper{
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
        "header header"
        "nav nav"
        "sidebar content"
        "footer footer";
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        flex-direction: row;
    }
}
@media (min-width:700px) {
    .wrapper {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
        "header header header"
        "nav nav nav"
        "content content content"
        "footer footer footer"
    }
    nav ul {
        flex-direction:row;
        display: flex;
        list-style-type: none;
    }
	
	.Ikoner {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 50%
	}
}

.flasker {
	max-width: 300px;
	float:none;
		
}
